.portfolio_container {
    
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
.portfolio_item {
   flex: 1 0 26%;
    background: var(--color-bg-var);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid ;
    transition: var(--transition);
}

.portfolio_item:hover {
    background-color: var(--color-primary-var);
    background: transparent 
}
.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio_item-cta  {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;


}

/* ===medium devices===*/
@media screen and (max-width: 768px) {
 .portfolio_container {
flex-basis: 34%;  
  gap: 1rem;

 }
   }
   
   /* ===small devices====== */
   @media screen and (max-width: 320px) {
   .portfolio_container{

    gap: .8rem;
    flex-basis: 51%;
}
    }