.container.contact_container {
    width: 58%;
    display: grid;
    /* grid-template-columns: 30% 58%; */
    gap: 4%;
    margin-bottom: 5rem;
}

.contact_options {
    display: flex;
    flex-direction:column;
    gap: 1.2rem;
}

.contact_option {
    background: var(--color-bg-var);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: left;
    border: 1px;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.contact_option-icon {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    
}

.contact_option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8
}
/* form */


form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea {
margin-left: 1rem;
width: 85%;
padding: 1.5rem;
border-radius:0.5rem ;
background: var(--color-light-white);
border: 2px solid var(--color-primary-variant) ;
resize: none;
}